//
   Created by jonathanmacleod1 on 1/18/16.

extends ../layout.jade
script (src='../build/interface.js')

block content

var a = new Interface.Panel({
    container:document.querySelector("#sliderPanel")
});
var b = new Interface.Slider({
    label: 'vertical slider',
bounds:[.05,.05,.3,.9]
});
var c = new Interface.Slider({
    bounds:[.4,.35,.55,.3],
label: 'horizontal slider',
isVertical:false,
value:.5,
});

a.background = 'black';
a.add(b,c);
